<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="BOA" value="http://uktee01orcap01v:4040/job/IGHS_Trigger_Backoffice/buildWithParameters?token=IGHSDeployment"/>
    <add key ="OrderCheckout" value="http://uktee01orcap01v:4040/job/IGHS_Trigger_OrderCheckout/buildWithParameters?token=IGHSDeployment"/>
    <add key ="CustomerProfile" value="http://uktee01orcap01v:4040/job/IGHS_Trigger_CustomerProfile/buildWithParameters?token=IGHSDeployment"/>
    <add key ="GroceryHost" value="http://uktee01orcap01v:4040/job/IGHS_Trigger_GroceryHost/buildWithParameters?token=IGHSDeployment"/>
    <add key ="Login" value="http://uktee01orcap01v:4040/job/IGHS_Trigger_Nolio/buildWithParameters?token=IGHSDeployment"/>
    <add key ="Delivery" value="http://uktee01orcap01v:4040/job/IGHS_Trigger_Delivery/buildWithParameters?token=IGHSDeployment"/>
    <add key ="BasketBuilding" value="http://uktee01orcap01v:4040/job/IGHS_Trigger_BasketBuilding/buildWithParameters?token=IGHSDeployment"/>
    <add key ="FindProducts" value="http://uktee01orcap01v:4040/job/IGHS_Trigger_FindProducts/buildWithParameters?token=IGHSDeployment"/>
    <add key ="Home" value="http://uktee01orcap01v:4040/job/IGHS_Trigger_Home/buildWithParameters?token=IGHSDeployment"/>
    <add key ="UIAssets" value="http://uktee01orcap01v:4040/job/IGHS_Trigger_UIAssets/buildWithParameters?token=IGHSDeployment"/>
    <add key ="Appstore" value="http://uktee01orcap01v:4040/job/IGHS_Appstore_Trigger/buildWithParameters?token=IGHSDeployment"/>
  </appSettings>
</configuration>