<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMTPServer" value="172.25.58.118" />
    <add key="FromAddress" value="IGHS_Team_Jaguars@in.tesco.com" />
    <add key="ToAddress" value="sachidananda.sheshagiri@in.tesco.com" />
    <add key="MailSubject" value="IGHS_Instore CD Scheduled Deployment for DEV" />
    <add key="Body" value="Team,  &lt;br&gt;  &lt;br&gt; Deployment Status: Started  &lt;br&gt;&lt;br&gt;" />
    <add key="ManifestFile" value="\\uktee01-clusdb\IGHSBuildOutput\IGHS_Manifest\ManifestAutomation\Instore_Pipeline\rootRMFile_Instore_2015-02-16-10-37-08.xml" />
    <add key="LabelPrinter" value="1" />
    <add key="LabelPrinterPattern" value="ReleaseManifest_IGHS_UK_Instore_14.0.0." />
    <add key="LabelPrinterNolioPattern" value="" />
    <add key="WCF" value="1" />
    <add key="WCFPattern" value="ReleaseManifest_IGHS_UK_Instore_14.0.0." />
    <add key="WCFNolioPattern" value="" />
    <add key="PCSAdmin" value="1" />
    <add key="PCSAdminPattern" value="ReleaseManifest_IGHS_UK_Instore_14.0.0." />
    <add key="PCSAdminNolioPattern" value="" />
    <add key="Windows" value="1" />
    <add key="WindowsPattern" value="ReleaseManifest_IGHS_UK_Instore_14.0.0." />
    <add key="WindowsNolioPattern" value="" />
    <add key="Picking" value="1" />
    <add key="PickingPattern" value="ReleaseManifest_IGHS_UK_Instore_14.0.0." />
    <add key="PickingNolioPattern" value="" />
    <add key="PickingAudit" value="1" />
    <add key="PickingAuditPattern" value="ReleaseManifest_IGHS_UK_Instore_14.0.0." />
    <add key="PickingAuditNolioPattern" value="" />
    <add key="ComponentPath" value="\\UKTEE01-CLUSDB\IGHSBuildOutput\IGHS_Manifest\ManifestAutomation" />
    <add key="JenkinsURL" value="http://uktee01orcap01v:4040/job/IGHS_Instore_Start_Schedule/buildWithParameters?token=IGHS_Instore" />
  </appSettings>
</configuration>