<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SMTPServer" value="172.25.58.118" />
		<add key="FromAddress" value="sathishkumar.x.ramaraj@in.tesco.com" />
		<add key="ToAddress" value="sathishkumar.x.ramaraj@in.tesco.com" />
		<add key ="MailSubject" value="IGHS CD Scheduled Deployment for DEV" />
		<add key ="Body" value="Team,  &lt;br&gt;  &lt;br&gt; Deployment Status: Started  &lt;br&gt;&lt;br&gt;" />
		<add key="ManifestFile" value="D:\UpdateRootManifest\UpdateRootManifest\bin\Debug\rootRMFile_2014-11-20-12-24-27.xml"/>
		<!--<add key="Search" value="444" />
		<add key="SearchPattern" value="ReleaseManifest_Acorn_UK_Search_1.1.0." />
		<add key="SearchNolioPattern" value="Search_" />
		<add key="DigitalContent" value="444" />
		<add key="DigitalContentPattern" value="ReleaseManifest_Acorn_UK_DigitalContentProvider_1.1.0." />
		<add key="DigitalContentNolioPattern" value="DigitalContentProvider_" />
		<add key="Range" value="1" />
		<add key="RangePattern" value="ReleaseManifest_Acorn_UK_RangeProvider_1.1.0." />
		<add key="RangeNolioPattern" value="RangeProvider_" />
		<add key="Price" value="1" />
		<add key="PricePattern" value="ReleaseManifest_Acorn_UK_PriceProvider_1.1.0." />
		<add key="PriceNolioPattern" value="PriceProvider_" />
		<add key="Product" value="1" />
		<add key="ProductPattern" value="ReleaseManifest_Acorn_UK_ProductProvider_1.1.0." />
		<add key="ProductNolioPattern" value="ProductProvider_" />
		<add key="TradingPartner" value="1" />
		<add key="TradingPartnerPattern" value="ReleaseManifest_Acorn_UK_TradingPartnerProvider_1.1.0." />
		<add key="TradingPartnerNolioPattern" value="TradingPartnerProvider_" />
		<add key="CustomerOrder" value="1" />
		<add key="CustomerOrderPattern" value="ReleaseManifest_Acorn_UK_CustomerOrderProvider_1.1.0." />
		<add key="CustomerOrderNolioPattern" value="CustomerOrderProvider_" />
		<add key="StoredValue" value="1" />
		<add key="StoredValuePattern" value="ReleaseManifest_Acorn_UK_StoredValueProvider_1.1.0." />
		<add key="StoredValueNolioPattern" value="StoredValueProvider_" />	-->	
		<add key="Login" value="1" />
		<add key="LoginPattern" value="ComponentManifest_IGHS_Login_UK_13.0.0." />
		<add key="LoginNolioPattern" value="" />
    <add key="AuthenticationService" value="1" />
    <add key="AuthenticationServicePattern" value="ComponentManifest_IGHS_Login_UK_13.0.0." />
    <add key="AuthenticationServiceNolioPattern" value="" />
		<!--<add key="SMTPServer" value="UKDBT66DEMOS01V" />
		<add key="ToAddress" value="Karthikeyan.Narayanaswamy@in.tesco.com,Sandeep.Saxena@in.tesco.com" />-->
		<!--<add key="ComponentPath"  value="\\dotcom.tesco.org\shares\rewards\build_output\Acorn_Manifest\ManifestAutomation" />-->
    <add key="ComponentPath"  value="\\UKTEE01-CLUSDB\IGHSBuildOutput\IGHS_Manifest\ManifestAutomation" />
		<!--<add key ="JenkinsURL" value="http://uktee01orcap01v:4040/job/Rewards_Schedule_Start/buildWithParameters?token=Rewards"/>-->
    <add key ="JenkinsURL" value="http://uktee01orcap01v:4040/job/IGHS_Schedule_Start/buildWithParameters?token=IGHS"/>
    

  </appSettings>
</configuration>