<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="BuildDefs">
      <section name="PaymentService" type="System.Configuration.DictionarySectionHandler"/>
      <!--<section name="EnterprisePay" type="System.Configuration.DictionarySectionHandler"/>-->
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="Uri" value="http://tfsapp.dotcom.tesco.org/tfs/grocery" />
    <add key="SMTPServer" value="172.25.58.118" />
    <!--<add key="SMTPServer" value="UKDBT66DEMOS01V" />-->
    <add key="FromAddress" value="IGHS_Community_DotNet@in.tesco.com" />
    <add key="Project" value="EnterprisePayments" />
    <add key="EmailTo" value="IGHS_Scrum_of_Scrum@uk.tesco.com,IGHS_Community_TechLeads@in.tesco.com,IGHS_Community_DotNet@in.tesco.com,IGHS_Team_Jaguars@in.tesco.com,HSC_IGHS_Team_Vikings@in.tesco.com" />
    <add key ="MailSubject" value="EnterprisePayments Unit Test Code Coverage Report" />
  </appSettings>

  <BuildDefs>
    <PaymentService>
      <add key="EnterpriseCryptographyPlatform" value="Enterprise.Cryptography.Platform" />
      <add key="Enterprise.Cryptography.Tokenisation" value="Enterprise.Cryptography.Tokenisation" />
      <add key="EnterpriseEncryptionModule" value="Enterprise.Encryption.Module" />
      <add key="EnterprisePaymentServiceContracts" value="Enterprise.Payment.Service.Contracts" />
      <add key="EnterprisePaymentServiceHost" value="Enterprise.Payment.Service.Host" />
      <add key="EnterprisePaymentServiceLibrary" value="Enterprise.Payment.Service.Library" />
      <add key="EnterpriseSaf" value="Enterprise.Payment.Service.SafeFileGeneration" />
      <add key="Enterprise.Payment.Service.SafeFileXCOM" value="EnterprisePaymentService.SafeFileXCOM" />
    </PaymentService>

    <!--<EnterprisePay>
      <add key="SampleContract" value="SampleEPS.Payment.Service.Contracts" />
      <add key="SampleLibrary" value="SampleEPS.Payment.Service.Library" />
    </EnterprisePay>-->


  </BuildDefs>

</configuration>