<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TescoAppstore" type="System.Configuration.DictionarySectionHandler"/>
    <section name="InternationalInstore" type="System.Configuration.DictionarySectionHandler"/>
    <section name="InternationalOMS" type="System.Configuration.DictionarySectionHandler"/>
    <section name="OrderFulfilment" type="System.Configuration.DictionarySectionHandler"/>
    <section name="IntenationalDeployment" type="System.Configuration.DictionarySectionHandler"/>
    <section name="EnterprisePayments" type="System.Configuration.DictionarySectionHandler"/>
    <section name="GroceryTotallingCheckout" type="System.Configuration.DictionarySectionHandler"/>
    <section name="InternationalAdministration" type="System.Configuration.DictionarySectionHandler"/>


  </configSections>
  <appSettings>
   <!-- <add key="BuildNameCheckoutLibrary" value="Sample.AppStore.Checkout.Library"/>
    <add key="BuildNameCheckoutWcfClient" value="Sample.AppStore.Checkout.WcfClient"/>
    <add key="BuildNameCheckoutWcfHost" value="Sample.AppStore.Checkout.WcfHost"/>-->
  </appSettings>

  <TescoAppstore>

    <!--<add key="AppStoreAuthenticationContracts" value="AppStore.Authentication.Contracts"/>
    <add key="AppStoreAuthenticationLibrary" value="AppStore.Authentication.Library"/>
    <add key="AppStoreAuthenticationWcfClient" value="AppStore.Authentication.WcfClient"/>
    <add key="AppStoreAuthenticationWcfHost" value="AppStore.Authentication.WcfHost"/>
    <add key="AppStoreBIReportingContracts" value="AppStore.BIReporting.Contracts"/>
    <add key="AppStoreBIReportingECOUPONILWindowsService" value="AppStore.BIReporting.ECOUPON.IL.WindowsService"/>
    <add key="AppStoreBIReportingErroredOutMessagesApp" value="AppStore.BIReporting.ErroredOutMessagesApp"/>
    <add key="AppStoreBIReportingFileCopyApp" value="AppStore.BIReporting.FileCopyApp"/>
    <add key="AppStoreBIReportingLibrary" value="AppStore.BIReporting.Library"/>
    <add key="AppStoreBIReportingOMSILWindowsService" value="AppStore.BIReporting.OMS.IL.WindowsService"/>
    <add key="AppStoreBIReportingPCSILWindowsService" value="AppStore.BIReporting.PCS.IL.WindowsService"/>
    <add key="AppStoreBusinessOrderManagerContracts" value="AppStore.Business.OrderManager.Contracts"/>
    <add key="AppStoreBusinessOrderManagerLibrary" value="AppStore.Business.OrderManager.Library"/>
    <add key="AppStoreBusinessOrderManagerWcfHost" value="AppStore.Business.OrderManager.WcfHost"/>
    <add key="AppStoreCheckoutContracts" value="AppStore.Checkout.Contracts"/>
    <add key="AppStoreCheckoutLibrary" value="AppStore.Checkout.Library"/>
    <add key="AppStoreCheckoutWcfClient" value="AppStore.Checkout.WcfClient"/>
    <add key="AppStoreCheckoutWcfHost" value="AppStore.Checkout.WcfHost"/>
    <add key="AppStoreCommonLibrary" value="AppStore.Common.Library"/>
    <add key="AppStore.ContentContracts" value="AppStore.Content.Contracts"/>
    <add key="AppStoreContentLibrary" value="AppStore.Content.Library"/>
    <add key="AppStoreContentWcfClient" value="AppStore.Content.WcfClient"/>
    <add key="AppStoreContentWcfHost" value="AppStore.Content.WcfHost"/>
    <add key="AppStoreCustomerContracts" value="AppStore.Customer.Contracts"/>
    <add key="AppStoreCustomerLibrary" value="AppStore.Customer.Library"/>
    <add key="AppStoreCustomerWcfClient" value="AppStore.Customer.WcfClient"/>
    <add key="AppStoreCustomerWcfHost" value="AppStore.Customer.WcfHost"/>
    <add key="AppStoreDeliveryContracts" value="AppStore.Delivery.Contracts"/>
    <add key="AppStoreDeliveryLibrary" value="AppStore.Delivery.Library"/>
    <add key="AppStoreDeliveryWcfClient" value="AppStore.Delivery.WcfClient"/>
    <add key="AppStoreDeliveryWcfHost" value="AppStore.Delivery.WcfHost"/>
    <add key="AppStoreDeviceIdentificationContracts" value="AppStore.DeviceIdentification.Contracts"/>
    <add key="AppStoreDeviceIdentificationLibrary" value="AppStore.DeviceIdentification.Library"/>
    <add key="AppStoreDeviceIdentificationWcfClient" value="AppStore.DeviceIdentification.WcfClient"/>
    <add key="AppStoreDeviceIdentificationWcfHost" value="AppStore.DeviceIdentification.WcfHost"/>
    <add key="AppStoreFavouriteContracts" value="AppStore.Favourite.Contracts"/>
    <add key="AppStoreFavouriteLibrary" value="AppStore.Favourite.Library"/>
    <add key="AppStoreFavouriteWcfClient" value="AppStore.Favourite.WcfClient"/>
    <add key="AppStoreFavouriteWcfHost" value="AppStore.Favourite.WcfHost"/>
    <add key="AppStoreGroceryBusinessComponents" value="AppStore.Grocery.BusinessComponents"/>
    <add key="AppStoreGroceryProductContracts" value="AppStore.GroceryProduct.Contracts"/>
    <add key="AppStoreGroceryProductLibrary" value="AppStore.GroceryProduct.Library"/>
    <add key="AppStoreGroceryProductWcfClient" value="AppStore.GroceryProduct.WcfClient"/>
    <add key="AppStoreGroceryProductWcfHost" value="AppStore.GroceryProduct.WcfHost"/>
    <add key="AppStoreLocationContracts" value="AppStore.Location.Contracts"/>
    <add key="AppStoreLocationLibrary" value="AppStore.Location.Library"/>
    <add key="AppStoreLocationWcfClient" value="AppStore.Location.WcfClient"/>
    <add key="AppStoreLocationWcfHost" value="AppStore.Location.WcfHost"/>
    <add key="AppStoreLoyaltyContracts" value="AppStore.Loyalty.Contracts"/>
    <add key="AppStoreLoyaltyLibrary" value="AppStore.Loyalty.Library"/>
    <add key="AppStoreLoyaltyWcfClient" value="AppStore.Loyalty.WcfClient"/>
    <add key="AppStoreLoyaltyWcfHost" value="AppStore.Loyalty.WcfHost"/>
    <add key="AppStoreNotificationContracts" value="AppStore.Notification.Contracts"/>
    <add key="AppStoreNotificationLibrary" value="AppStore.Notification.Library"/>
    <add key="AppStoreNotificationWcfClient" value="AppStore.Notification.WcfClient"/>
    <add key="AppStoreNotificationWcfHost" value="AppStore.Notification.WcfHost"/>    
    <add key="AppStoreOrderContracts" value="AppStore.Order.Contracts"/>
    <add key="AppStoreOrderLibrary" value="AppStore.Order.Library"/>
    <add key="AppStoreOrderWcfClient" value="AppStore.Order.WcfClient"/>
    <add key="AppStoreOrderWcfHost" value="AppStore.Order.WcfHost"/>
    <add key="AppStorePaymentContracts" value="AppStore.Payment.Contracts"/>
    <add key="AppStorePaymentLibrary" value="AppStore.Payment.Library"/>
    <add key="AppStorePaymentWcfClient" value="AppStore.Payment.WcfClient"/>
    <add key="AppStorePaymentWcfHost" value="AppStore.Payment.WcfHost"/>
    <add key="AppStorePickingContracts" value="AppStore.Picking.Contracts"/>
    <add key="AppStorePickingLibrary" value="AppStore.Picking.Library"/>
    <add key="AppStorePickingWcfClient" value="AppStore.Picking.WcfClient"/>
    <add key="AppStorePickingWcfHost" value="AppStore.Picking.WcfHost"/>    
    <add key="AppStorePickingAuditContracts" value="AppStore.PickingAudit.Contracts"/>
    <add key="AppStorePickingAuditLibrary" value="AppStore.PickingAudit.Library"/>
    <add key="AppStorePickingAuditWcfClient" value="AppStore.PickingAudit.WcfClient"/>
    <add key="AppStorePickingAuditWcfHost" value="AppStore.PickingAudit.WcfHost"/>
    <add key="AppStore.PickingEnrichmentContracts" value="AppStore.PickingEnrichment.Contracts"/>
    <add key="AppStore.PickingEnrichmentLibrary" value="AppStore.PickingEnrichment.Library"/>
    <add key="AppStore.PickingEnrichmentWcfClient" value="AppStore.PickingEnrichment.WcfClient"/>
    <add key="AppStore.PickingEnrichmentWcfHost" value="AppStore.PickingEnrichment.WcfHost"/>
    <add key="AppStorePriceContracts" value="AppStore.Price.Contracts"/>
    <add key="AppStorePriceLibrary" value="AppStore.Price.Library"/>
    <add key="AppStorePriceWcfClient" value="AppStore.Price.WcfClient"/>
    <add key="AppStorePriceWcfHost" value="AppStore.Price.WcfHost"/>
    <add key="AppStoreProductCommonEntities" value="AppStore.Product.CommonEntities"/>
    <add key="AppStoreProductContracts" value="AppStore.Product.Contracts"/>
    <add key="AppStoreProductLibrary" value="AppStore.Product.Library"/>
    <add key="AppStoreProductWcfClient" value="AppStore.Product.WcfClient"/>
    <add key="AppStoreProductWcfHost" value="AppStore.Product.WcfHost"/>
    <add key="AppStoreQueueProcessorContracts" value="AppStore.QueueProcessor.Contracts"/>
    <add key="AppStoreQueueProcessorLibrary" value="AppStore.QueueProcessor.Library"/>
    <add key="AppStoreQueueProcessorWindowsService" value="AppStore.QueueProcessor.WindowsService"/>
    <add key="AppStoreRegionLibrary" value="AppStore.Region.Library"/>
    <add key="AppStoreReportingBusinessComponets" value="AppStore.Reporting.BusinessComponents"/>
    <add key="AppStoreReportingMgmtSvcContracts" value="AppStore.ReportingMgmt.Svc.Contracts"/>
    <add key="AppStoreReportingMgmtSvcLibrary" value="AppStore.ReportingMgmt.Svc.Library"/>
    <add key="AppStoreReportingMgmtSvcWCFClient" value="AppStore.ReportingMgmt.Svc.WCFClient"/>
    <add key="AppStoreReportingMgmtSvcWcfHost" value="AppStore.ReportingMgmt.Svc.WcfHost"/>
    <add key="AppStoreReviewWCFHostDeploy" value="AppStore.Review.WCFHost.Deploy"/>
    <add key="AppStoreReviewRatingContracts" value="AppStore.ReviewRating.Contracts"/>
    <add key="AppStoreReviewRatingLibrary" value="AppStore.ReviewRating.Library"/>
    <add key="AppStoreReviewRatingWcfClient" value="AppStore.ReviewRating.WcfClient"/>
    <add key="AppStoreReviewRatingWcfHost" value="AppStore.ReviewRating.WcfHost"/>
    <add key="AppStoreShoppingCartContracts" value="AppStore.ShoppingCart.Contracts"/>
    <add key="AppStoreShoppingCartLibrary" value="AppStore.ShoppingCart.Library"/>
    <add key="AppStoreShoppingCartWcfClient" value="AppStore.ShoppingCart.WcfClient"/>
    <add key="AppStoreShoppingCartWcfHost" value="AppStore.ShoppingCart.WcfHost"/>    
    <add key="AppStoreSmartStoreContracts" value="AppStore.SmartStore.Contracts"/>
    <add key="AppStoreSmartStoreLibrary" value="AppStore.SmartStore.Library"/>   
   <add key="AppStoreStoreHouseContracts" value="AppStore.StoreHouse.Contracts"/>
    <add key="AppStoreStoreHouseLibrary" value="AppStore.StoreHouse.Library"/>
    <add key="AppStoreStoreHouseWcfClient" value="AppStore.StoreHouse.WcfClient"/>
    <add key="AppStoreStoreHouseWcfHost" value="AppStore.StoreHouse.WcfHost"/>    
    <add key="AppStoreSubscriptionNotification" value="AppStore.Subscription.Notification"/>
    <add key="AppStoreTotallingContracts" value="AppStore.Totalling.Contracts"/>
    <add key="AppStoreTotallingLibrary" value="AppStore.Totalling.Library"/>
    <add key="AppStoreTotallingWcfHost" value="AppStore.Totalling.WcfHost"/>
    <add key="CouponServiceContract" value="Coupon.Service.Contract"/>
    <add key="CouponServiceLibrary" value="Coupon.Service.Library"/>
    <add key="CouponServiceWcfClient" value="Coupon.Service.WcfClient"/>
    <add key="CouponServiceWcfHost" value="Coupon.Service.WcfHost"/>
    <add key="CouponIntegration" value="CouponIntegration"/>
    <add key="DigitalContentClient" value="DigitalContentClient"/>
    <add key="DigitalContentProvider" value="DigitalContentProvider"/>
    <add key="EndecaConfiguration" value="EndecaConfiguration"/>
    <add key="EnterpriseAuthenticationContracts" value="Enterprise.Authentication.Contracts"/>
    <add key="EnterpriseAuthenticationLibrary" value="Enterprise.Authentication.Library"/>
    <add key="EnterpriseAuthentication.WcfClient" value="Enterprise.Authentication.WcfClient"/>
    <add key="EnterpriseAuthentication.WcfHost" value="Enterprise.Authentication.WcfHost"/>
    <add key="EnterpriseCommon" value="Enterprise.Common"/>
    <add key="EnterpriseCryptographyPlatform" value="Enterprise.Cryptography.Platform"/>
    <add key="EnterpriseCryptographyTokenisation" value="Enterprise.Cryptography.Tokenisation"/>
    <add key="EnterpriseEncryptionModule" value="Enterprise.Encryption.Module"/>
    <add key="EnterprisePaymentServiceArcotWCFWrapper" value="Enterprise.Payment.Service.ArcotWCFWrapper"/>
    <add key="EnterprisePaymentServiceContracts" value="Enterprise.Payment.Service.Contracts"/>
    <add key="EnterprisePaymentServiceHost" value="Enterprise.Payment.Service.Host"/>
    <add key="EnterprisePaymentServiceLibrary" value="Enterprise.Payment.Service.Library"/>
    <add key="EnterprisePaymentServiceSafeFileGeneration" value="Enterprise.Payment.Service.SafeFileGeneration"/>
    <add key="EnterprisePayment.ServiceSafeFileXCOM" value="Enterprise.Payment.Service.SafeFileXCOM"/>
    <add key="CouponPaymentServiceArcotWCFWrapper" value="Enterprise.Payment.Service.ArcotWCFWrapper"/>
    <add key="CouponPaymentServiceContracts" value="Enterprise.Payment.Service.Contracts"/>
    <add key="CouponPaymentServiceHost" value="Enterprise.Payment.Service.Host"/>
    <add key="CouponPaymentServiceLibrary" value="Enterprise.Payment.Service.Library"/>
    <add key="CouponPaymentServiceSafeFileGeneration" value="Enterprise.Payment.Service.SafeFileGeneration"/>
    <add key="CouponPaymentServiceSafeFileXCOM" value="Enterprise.Payment.Service.SafeFileXCOM"/>
    <add key="ProductListProvider" value="ProductListProvider"/>
    <add key="ReverseProxy" value="ReverseProxy"/>
    <add key="TescoComAppStoreAppStoreServiceHost_Redendant" value="Tesco.Com.AppStore.AppStoreServiceHost_Redendant"/>
    <add key="TescoComAppStoreOrderReProcessor" value="Tesco.Com.Appstore.OrderReProcessor"/>
    <add key="TescoComBuyListIntegration" value="Tesco.Com.BuyList.Integration"/>
    <add key="TescoComCore" value="Tesco.Com.Core"/>
    <add key="TescoComIntegration" value="Tesco.Com.Integration"/>
    <add key="TescoComIntegration.BrandBank" value="Tesco.Com.Integration.BrandBank"/>
    <add key="TescoComIntegrationWcfHost" value="Tesco.Com.Integration.WcfHost"/>
    <add key="TescoComWebBackOffice" value="Tesco.Com.Web.BackOffice"/>
    <add key="TescoComWebCN.BackOfficeUIAssets" value="Tesco.Com.Web.CN.BackOffice.UIAssets"/>
    <add key="TescoComWebCommon" value="Tesco.Com.Web.Common"/>
    <add key="TescoComWeb.CommonBackOfficeUIAssets" value="Tesco.Com.Web.Common.BackOfficeUIAssets"/>
    <add key="TescoComWebCommonReportingUIAssets" value="Tesco.Com.Web.Common.ReportingUIAssets"/>
    <add key="TescoComWebCZBackOfficeUIAssets" value="Tesco.Com.Web.CZ.BackOffice.UIAssets"/>
    <add key="TescoComWebHUBackOfficeUIAssets" value="Tesco.Com.Web.HU.BackOffice.UIAssets"/>
    <add key="TescoComWebLogin" value="Tesco.Com.Web.Login"/>
    <add key="TescoComWebMvc" value="Tesco.Com.Web.Mvc"/>
    <add key="TescoComWebMYBackOfficeUIAssets" value="Tesco.Com.Web.MY.BackOffice.UIAssets"/>
    <add key="TescoComWebPL.BackOfficeUIAssets" value="Tesco.Com.Web.PL.BackOffice.UIAssets"/>
    <add key="TescoComWebReporting" value="Tesco.Com.Web.Reporting"/>
    <add key="TescoComWebReportingUIAssets" value="Tesco.Com.Web.Reporting.UIAssets"/>
    <add key="TescoComWebSKBackOfficeUIAssets" value="Tesco.Com.Web.SK.BackOffice.UIAssets"/>
    <add key="TescoComWebTHBackOfficeUIAssets" value="Tesco.Com.Web.TH.BackOffice.UIAssets"/>
    <add key="TescoComWebTRBackOfficeUIAssets" value="Tesco.Com.Web.TR.BackOffice.UIAssets"/>
    <add key="TescoComWebUIGroceryCheckout" value="Tesco.Com.Web.UI.Grocery.Checkout"/>
    <add key="TescoComWebUIGroceryCommon" value="Tesco.Com.Web.UI.Grocery.Common"/>
    <add key="TescoComWebUIGroceryCommon.Resource" value="Tesco.Com.Web.UI.Grocery.Common.Resource"/>
    <add key="TescoComWebUIGroceryDelivery" value="Tesco.Com.Web.UI.Grocery.Delivery"/>
    <add key="TescoComWebUIGroceryHome" value="Tesco.Com.Web.UI.Grocery.Home"/>
    <add key="TescoComWebUIGroceryMyAccount" value="Tesco.Com.Web.UI.Grocery.MyAccount"/>
    <add key="TescoComWebUIGroceryProducts" value="Tesco.Com.Web.UI.Grocery.Products"/>
    <add key="TescoComWebUIGroceryShoppingCart" value="Tesco.Com.Web.UI.Grocery.ShoppingCart"/>
    <add key="TescoComWebUIAssets" value="Tesco.Com.Web.UIAssets"/>
    <add key="TescoComWebUtilities" value="Tesco.Com.Web.Utilities"/>
    <add key="TescoComWebAPIClientProductListClient" value="Tesco.Com.WebAPIClient.ProductListClient"/>
    <add key="TescoLocationProvider" value="TescoLocationProvider"/>
    <add key="WebAPIClient" value="WebAPIClient"/>    
    <add key="LocationProvidersample" value="LocationProvider"/>
    <add key="AppstoreDeliveryAdapter" value="Appstore.DeliveryAdapter"/>
    <add key="TescoTransportAPIClient" value="Tesco.TransportAPIClient"/>
    <add key="AppstoreProductAdapter" value="Appstore.ProductAdapter"/>
    <add key="AppstoreCoreProductContracts" value="AppStore.CoreProduct.Contracts"/>
    <add key="TescoLocationAPIClientsample" value="TescoLocationAPIClient"/>
   <add key="AppstoreCorePruductLibrary" value="AppStore.CoreProduct.Library"/>
    <add key="AppstoreCoreProductWcfClient" value="AppStore.CoreProduct.WcfClient"/>
    <add key="AppstoreCoreProductWcfHost" value="AppStore.CoreProduct.WcfHost"/>-->
    <add key="TescoComWebLogin" value="Tesco.Com.Web.Login"/>
  </TescoAppstore>

  <InternationalInstore>

    <!--<add key="CommonCoreCI" value="Common_Core_CI"/>
     <add key="E2EServiceCI" value="E2EService_CI"/>
    <add key="EpsonLabelPrinterCI" value="EpsonLabelPrinter_CI"/>
    <add key="Instore.DatabasesCI" value="Instore.Databases_CI"/>
    <add key="LabelServiceCI" value="LabelService_CI"/>
    <add key="Log4NetDatabaseAppenderCI" value="Log4Net.Database.Appender_CI"/>-->
   
   <add key="ManualAuditCI" value="ManualAudit_CI"/>
    <add key="NightlyBuild" value="Nightly_Build"/>
    <add key="PCS.ConfigurationCI" value="PCS.Configuration_CI"/>
    <add key="PCS.Core.CreateCI" value="PCS.Core.Create_CI"/>
    <add key="PCS.Core.DataAccessCI" value="PCS.Core.DataAccess_CI"/>
    <add key="PCS.Core.EventManagerCI" value="PCS.Core.EventManager_CI"/>
    
   
    <add key="PCS.CoreCI" value="PCS.Core_CI"/>
    <add key="PCS.CoreDataAccessCI" value="PCS.CoreDataAccess_CI"/>
    <add key="PCS.OrderBrokerCI" value="PCS.OrderBroker_CI"/>
    <add key="PCS.PickAllTripsUtilityCI" value="PCS.PickAllTripsUtility_CI"/>
    <add key="PCS.PSFileWatcherCI" value="PCS.PSFileWatcher_CI"/>
    <add key="PCS.SchedulerCI" value="PCS.Scheduler_CI"/>
    
    <add key="PCS.SoftwareUpdaterCI" value="PCS.SoftwareUpdater_CI"/>
    <add key="PCS.TestingUtility" value="PCS.TestingUtility"/>
    <add key="PCS.UserManagementCI" value="PCS.UserManagement_CI"/>
    <add key="PCSAdapterCI" value="PCSAdapter_CI"/>
    <add key="PCSAdminCI" value="PCSAdmin_CI"/>
    <add key="PrintingServiceCI" value="PrintingService_CI"/>
    <add key="SequencerCI" value="Sequencer_CI"/>
    
  </InternationalInstore>
  <InternationalOMS>

    <add key="MainOMSResources" value="Main_OMS_Resources"/>
    <!-- <add key="MainOMSPlatformConfigFull" value="Main_OMS_PlatformConfig_Full"/>
    <add key="MainOMSCountryConfig" value="Main_OMS_CountryConfig"/>
    <add key="MainOMSCountryConfig_Full" value="Main_OMS_CountryConfig_Full"/>
    <add key="MainOMS_DeliverOrder" value="Main_OMS_DeliverOrder"/>
    <add key="MainOMSPlatformConfig" value="Main_OMS_PlatformConfig"/>
    <add key="MainOMS_Util" value="Main_OMS_Util"/>
    <add key="MainOMSPaymentProcessing" value="Main_OMS_PaymentProcessing"/>
    <add key="MainOMSCancelOrder" value="Main_OMS_CancelOrder"/>-->
    
    
    
   <!-- <add key="MainOMSCheckoutOrder" value="Main_OMS_CheckoutOrder"/>
    <add key="MainOMSCOM_CI" value="Main_OMS_COM_CI"/>
    <add key="MainOMSConsole" value="Main_OMS_Console"/>
    <add key="MainOMSCountryConfig" value="Main_OMS_CountryConfig"/>
    <add key="MainOMSCountryConfig_Full" value="Main_OMS_CountryConfig_Full"/>
    <add key="MainOMS_CountryX_MCCI" value="Main_OMS_CountryX_MC_CI"/>
    <add key="MainOMS_CreateOrder" value="Main_OMS_CreateOrder"/>
    <add key="MainOMS_CustomerAmendOrder" value="Main_OMS_CustomerAmendOrder"/>
    <add key="MainOMS_DeliverOrder" value="Main_OMS_DeliverOrder"/>
    <add key="MainOMSDOM_CI" value="Main_OMS_DOM_CI"/>
    <add key="MainOMSEntity" value="Main_OMS_Entity"/>
    <add key="MainOMSLanguagePack" value="Main_OMS_LanguagePack"/>
    <add key="MainOMSPaymentProcessing" value="Main_OMS_PaymentProcessing"/>
    <add key="MainOMSPickingOrder" value="Main_OMS_PickingOrder"/>
    <add key="MainOMSPlatformMCCI" value="Main_OMS_Platform_MC_CI"/>
    <add key="MainOMSPlatformConfig" value="Main_OMS_PlatformConfig"/>
    <add key="MainOMSResources" value="Main_OMS_Resources"/>
    <add key="MainOMS_Util" value="Main_OMS_Util"/>-->
  </InternationalOMS>

  <OrderFulfilment>

   <!-- <add key="Release1.0OMSPlatformConfigFull" value="Release1.0_OMS_PlatformConfig_Full"/>
   <add key="MainOMSCountryConfig" value="Main_OMS_CountryConfig"/>
    <add key="MainOMSCountryConfig_Full" value="Main_OMS_CountryConfig_Full"/>
    <add key="MainOMS_DeliverOrder" value="Main_OMS_DeliverOrder"/>
    <add key="MainOMSPlatformConfig" value="Main_OMS_PlatformConfig"/>
    <add key="MainOMS_Util" value="Main_OMS_Util"/>
    <add key="MainOMSPaymentProcessing" value="Main_OMS_PaymentProcessing"/>
    <add key="MainOMSCancelOrder" value="Main_OMS_CancelOrder"/>
    <add key="MainOMSCheckoutOrder" value="Main_OMS_CheckoutOrder"/>
    <add key="MainOMSCOM_CI" value="Main_OMS_COM_CI"/>
    <add key="MainOMSConsole" value="Main_OMS_Console"/>
    <add key="MainOMSCountryConfig" value="Main_OMS_CountryConfig"/>
    <add key="MainOMSCountryConfig_Full" value="Main_OMS_CountryConfig_Full"/>
    <add key="MainOMS_CountryX_MCCI" value="Main_OMS_CountryX_MC_CI"/>
    <add key="MainOMS_CreateOrder" value="Main_OMS_CreateOrder"/>
    <add key="MainOMS_CustomerAmendOrder" value="Main_OMS_CustomerAmendOrder"/>
    <add key="MainOMS_DeliverOrder" value="Main_OMS_DeliverOrder"/>
    <add key="MainOMSDOM_CI" value="Main_OMS_DOM_CI"/>
    <add key="MainOMSEntity" value="Main_OMS_Entity"/>
    <add key="MainOMSLanguagePack" value="Main_OMS_LanguagePack"/>
    <add key="MainOMSPaymentProcessing" value="Main_OMS_PaymentProcessing"/>
    <add key="MainOMSPickingOrder" value="Main_OMS_PickingOrder"/>
    <add key="MainOMSPlatformMCCI" value="Main_OMS_Platform_MC_CI"/>
    <add key="MainOMSPlatformConfig" value="Main_OMS_PlatformConfig"/>
    <add key="MainOMSResources" value="Main_OMS_Resources"/>
    <add key="MainOMS_Util" value="Main_OMS_Util"/>-->
  </OrderFulfilment>

  <!--<IntenationIntegration>
    
    
  </IntenationIntegration>-->
  <IntenationalDeployment>
   
    <add key="ManifestGeneration_Tibco_Hawk" value=" R10.0_ManifestGeneration_Tibco_Hawk"/>
    
  </IntenationalDeployment>

  <EnterprisePayments>
  <add key="EnterpriseCryptographyPlatform" value="Enterprise.Cryptography.Platform"/>
  <!--<add key="EnterpriseCryptographyTokenisation" value="Enterprise.Cryptography.Tokenisation"/>
    <add key="EnterpriseEncryptionModule" value="Enterprise.Encryption.Module"/>
    <add key="EnterprisePaymentServiceArcotWCFWrapper" value="Enterprise.Payment.Service.ArcotWCFWrapper"/>
    <add key="EnterprisePaymentServiceContracts" value="Enterprise.Payment.Service.Contracts"/>
    <add key="EnterprisePaymentServiceHost" value="Enterprise.Payment.Service.Host"/>
    <add key="EnterprisePaymentServiceLibrary" value="Enterprise.Payment.Service.Library"/>
    <add key="EnterprisePaymentServiceSafeFileGeneration" value="Enterprise.Payment.Service.SafeFileGeneration"/>
    <add key="EnterprisePayment.ServiceSafeFileXCOM" value="Enterprise.Payment.Service.SafeFileXCOM"/>-->
  </EnterprisePayments>

  <GroceryTotallingCheckout>
    <add key="AppStoreCheckoutContracts" value="AppStore.Checkout.Contracts"/>
    <!--<add key="AppStoreCheckoutLibrary" value="AppStore.Checkout.Library"/>
    <add key="AppStoreCheckoutWcfClient" value="AppStore.Checkout.WcfClient"/>
    <add key="AppStoreCheckoutWcfHost" value="AppStore.Checkout.WcfHost"/>
    <add key="AppStoreTotallingContracts" value="AppStore.Totalling.Contracts"/>
    <add key="AppStoreTotallingLibrary" value="AppStore.Totalling.Library"/>
    <add key="AppStoreTotallingWcfHost" value="AppStore.Totalling.WcfHost"/>
    <add key="AppStoreQueueProcessorContracts" value="AppStore.QueueProcessor.Contracts"/>
    <add key="AppStoreQueueProcessorLibrary" value="AppStore.QueueProcessor.Library"/>
    <add key="AppStoreQueueProcessorWindowsService" value="AppStore.QueueProcessor.WindowsService"/>-->
  </GroceryTotallingCheckout>
  <InternationalAdministration>
    <!-- <add key="AppStoreAuthenticationContracts" value="AppStore.Authentication.Contracts"/>-->
   <add key="AppStoreAuthenticationWcfClient" value="AppStore.Authentication.WcfClient"/>
    <add key="TescoComWebBackOffice" value="Tesco.Com.Web.BackOffice"/>
    <add key="TescoCom.WebCZBackOfficeUIAssets" value="Tesco.Com.Web.CZ.BackOffice.UIAssets"/>
    <add key="TescoCom.WebPLBackOfficeUIAssets" value="Tesco.Com.Web.PL.BackOffice.UIAssets"/>
    <add key="TescoCom.WebSKBackOfficeUIAssets" value="Tesco.Com.Web.SK.BackOffice.UIAssets"/>
    <add key="TescoCom.WebHUBackOfficeUIAssets" value="Tesco.Com.Web.HU.BackOffice.UIAssets"/>
    <add key="TescoCom.WeTRBackOfficeUIAssets" value="Tesco.Com.Web.TR.BackOffice.UIAssets"/>
    <add key="TescoCom.WebMYBackOfficeUIAssets" value="Tesco.Com.Web.MY.BackOffice.UIAssets"/>
    <add key="TescoCom.WebTHBackOfficeUIAssets" value="Tesco.Com.Web.TH.BackOffice.UIAssets"/>
    <add key="TescoCom.WebCNBackOfficeUIAssets" value="Tesco.Com.Web.CN.BackOffice.UIAssets"/>
    <add key="TescoComWebCommonBackOfficeUIAssets" value="Tesco.Com.Web.Common.BackOfficeUIAssets"/>
    
  </InternationalAdministration>
  </configuration>