<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TescoAppstore" type="System.Configuration.DictionarySectionHandler"/>
    <section name="InternationalInstore" type="System.Configuration.DictionarySectionHandler"/>
    <section name="InternationalOMS" type="System.Configuration.DictionarySectionHandler"/>
    <section name="OrderFulfilment" type="System.Configuration.DictionarySectionHandler"/>
    <section name="IntenationalDeployment" type="System.Configuration.DictionarySectionHandler"/>
    <section name="EnterprisePayments" type="System.Configuration.DictionarySectionHandler"/>
    <section name="GroceryTotallingCheckout" type="System.Configuration.DictionarySectionHandler"/>
    <section name="InternationalAdministration" type="System.Configuration.DictionarySectionHandler"/>
<!--config-->

  </configSections>
  <appSettings>
   <!-- <add key="BuildNameCheckoutLibrary" value="Sample.AppStore.Checkout.Library"/>
    <add key="BuildNameCheckoutWcfClient" value="Sample.AppStore.Checkout.WcfClient"/>
    <add key="BuildNameCheckoutWcfHost" value="Sample.AppStore.Checkout.WcfHost"/>-->
  </appSettings>

  <TescoAppstore>

   
    <!--<add key="AppStoreAuthenticationLibrary" value="AppStore.Authentication.Library"/>
    <add key="AppStoreAuthenticationWcfHost" value="AppStore.Authentication.WcfHost"/>
    <add key="AppStoreBusinessOrderManagerLibrary" value="AppStore.Business.OrderManager.Library"/>
    <add key="AppStoreBusinessOrderManagerContracts" value="AppStore.Business.OrderManager.Contracts"/>
    <add key="AppStoreBusinessOrderManagerWcfHost" value="AppStore.Business.OrderManager.WcfHost"/>
    <add key="AppStoreCustomerLibrary" value="AppStore.Customer.Library"/>
    <add key="AppStoreCustomerWcfHost" value="AppStore.Customer.WcfHost"/>
    <add key="AppStoreDeliveryLibrary" value="AppStore.Delivery.Library"/>
    <add key="AppStoreDeliveryWcfHost" value="AppStore.Delivery.WcfHost"/>

     <add key="AppStoreDeviceIdentificationLibrary" value="AppStore.DeviceIdentification.Library"/>
     <add key="AppStoreDeviceIdentificationWcfHost" value="AppStore.DeviceIdentification.WcfHost"/>
    <add key="AppstoreDeliveryAdapter" value="Appstore.DeliveryAdapter"/>
       <add key="AppStoreFavouriteContracts" value="AppStore.Favourite.Contracts"/>
    <add key="AppStoreFavouriteLibrary" value="AppStore.Favourite.Library"/>
     <add key="AppStoreFavouriteWcfClient" value="AppStore.Favourite.WcfClient"/>
         <add key="AppStoreFavouriteWcfHost" value="AppStore.Favourite.WcfHost"/>
    <add key="AppStoreLocationLibrary" value="AppStore.Location.Library"/>
     
    
    
    <add key="AppStoreLocationWcfClient" value="AppStore.Location.WcfClient"/>
    <add key="AppStoreLocationContracts" value="AppStore.Location.Contracts"/>
    <add key="AppStoreLocationWcfHost" value="AppStore.Location.WcfHost"/>
    <add key="AppStoreLoyaltyContracts" value="AppStore.Loyalty.Contracts"/>
    <add key="AppStoreLoyaltyLibrary" value="AppStore.Loyalty.Library"/>
    <add key="AppStoreLoyaltyWcfClient" value="AppStore.Loyalty.WcfClient"/>
    <add key="AppStoreLoyaltyWcfHost" value="AppStore.Loyalty.WcfHost"/>
    <add key="AppStoreNotificationLibrary" value="AppStore.Notification.Library"/>
    <add key="AppStoreNotificationWcfHost" value="AppStore.Notification.WcfHost"/>
    <add key="AppStoreOrderContracts" value="AppStore.Order.Contracts"/>
    <add key="AppStoreOrderLibrary" value="AppStore.Order.Library"/>
    <add key="AppStoreOrderWcfClient" value="AppStore.Order.WcfClient"/>
    <add key="AppStoreOrderWcfHost" value="AppStore.Order.WcfHost"/>
    <add key="AppStorePaymentContracts" value="AppStore.Payment.Contracts"/>
    <add key="AppStorePaymentLibrary" value="AppStore.Payment.Library"/>
    <add key="AppStorePaymentWcfClient" value="AppStore.Payment.WcfClient"/>
    <add key="AppStorePaymentWcfHost" value="AppStore.Payment.WcfHost"/>
    <add key="AppStoreProductCommonEntities" value="AppStore.Product.CommonEntities"/>
    <add key="AppstoreProductAdapter" value="Appstore.ProductAdapter"/>
    <add key="AppStoreGrocerBusinessCustomer" value="AppStore.Grocery.Business.Customer"/>
    <add key="AppStoreGroceryBusinessContent" value="AppStore.Grocery.Business.Content"/>
    <add key="AppStoreGroceryBusinessDelivery" value="AppStore.Grocery.Business.Delivery"/>
    <add key="AppStoreGroceryBusinessOrderCheckout" value="AppStore.Grocery.Business.OrderCheckout"/>
    <add key="AppStoreGroceryBusinessProduct" value="AppStore.Grocery.Business.Product"/>
    <add key="AppStoreGroceryBusinessShopping" value="AppStore.Grocery.Business.Shopping"/>
    <add key="AppStoreGroceryBusinessComponents" value="AppStore.Grocery.BusinessComponents"/>

   <add key="AppStoreCoreProductContracts" value="AppStore.CoreProduct.Contracts"/>
    <add key="AppStoreGroceryProductWraper" value="AppStore.GroceryProduct.Wraper"/>
    <add key="AppStoreProductWraper" value="AppStore.Product.Wraper"/>

   <add key="AppStoreReviewWCFHostDeploy" value="AppStore.Review.WCFHost.Deploy"/>
    <add key="AppStoreReviewRatingContracts" value="AppStore.ReviewRating.Contracts"/>
    <add key="AppStoreReviewRatingLibrary" value="AppStore.ReviewRating.Library"/>
    <add key="AppStoreReviewRatingWcfClient" value="AppStore.ReviewRating.WcfClient"/>
    <add key="AppStoreReviewRatingWcfHost" value="AppStore.ReviewRating.WcfHost"/>
    <add key="AppStoreShoppingCartContracts" value="AppStore.ShoppingCart.Contracts"/>
    <add key="AppStoreShoppingCartLibrary" value="AppStore.ShoppingCart.Library"/>
    <add key="AppStoreShoppingCartWcfClient" value="AppStore.ShoppingCart.WcfClient"/>
    <add key="AppStoreShoppingCartWcfHost" value="AppStore.ShoppingCart.WcfHost"/>
    <add key="AppStoreSmartStoreContracts" value="AppStore.SmartStore.Contracts"/>
    <add key="AppStoreSmartStoreLibrary" value="AppStore.SmartStore.Library"/>
    <add key="AppStoreStoreHouseLibrary" value="AppStore.StoreHouse.Library"/>
    <add key="AppStoreStoreHouseWcfHost" value="AppStore.StoreHouse.WcfHost"/>



    <add key="CouponServiceContract" value="Coupon.Service.Contract"/>
    <add key="CouponServiceLibrary" value="Coupon.Service.Library"/>
    <add key="CouponServiceWcfClient" value="Coupon.Service.WcfClient"/>
    <add key="CouponServiceWcfHost" value="Coupon.Service.WcfHost"/>
    <add key="CouponIntegration" value="CouponIntegration"/>
    <add key="DigitalContentClient" value="DigitalContentClient"/>
    <add key="DigitalContentProvider" value="DigitalContentProvider"/>
    <add key="EndecaConfiguration" value="EndecaConfiguration"/>
    <add key="EnterpriseCommon" value="Enterprise.Common"/>
   
    <add key="ProductListProvider" value="ProductListProvider"/>

    <add key="ReverseProxy" value="ReverseProxy"/>
    
    <add key="TescoComAppStoreOrderReProcessor" value="Tesco.Com.Appstore.OrderReProcessor"/>
    
    <add key="TescoComBuyListIntegration" value="Tesco.Com.BuyList.Integration"/>
    <add key="TescoComIntegrationWcfHost" value="Tesco.Com.Integration.WcfHost"/>

    <add key="TescoComWebUIGroceryCheckout" value="Tesco.Com.Web.UI.Grocery.Checkout"/>

     <add key="TescoComWebUIGroceryCommon" value="Tesco.Com.Web.UI.Grocery.Common"/>
    <add key="TescoComWebUIGroceryCommon.Resource" value="Tesco.Com.Web.UI.Grocery.Common.Resource"/>
    <add key="TescoComWebUIGroceryDelivery" value="Tesco.Com.Web.UI.Grocery.Delivery"/>
    <add key="TescoComWebUIGroceryHome" value="Tesco.Com.Web.UI.Grocery.Home"/>
    <add key="TescoComWebUIGroceryMyAccount" value="Tesco.Com.Web.UI.Grocery.MyAccount"/>
     <add key="TescoComWebUIGroceryProducts" value="Tesco.Com.Web.UI.Grocery.Products"/>
    <add key="TescoComWebUIGroceryShoppingCart" value="Tesco.Com.Web.UI.Grocery.ShoppingCart"/>
    <add key="TescoComWebUIAssets" value="Tesco.Com.Web.UIAssets"/>
    
   <add key="TescoComWebUtilities" value="Tesco.Com.Web.Utilities"/>
    <add key="TescoComWebAPIClientProductListClient" value="Tesco.Com.WebAPIClient.ProductListClient"/>

    <add key="LocationProvidersample" value="LocationProvider"/>
    
    <add key="TescoTransportAPIClient" value="Tesco.TransportAPIClient"/>

   <add key="TescoComWebUIGroceryHost" value="Tesco.Com.Web.UI.GroceryHost"/>-->


    
    <!--Manifest generation-->
    <!--<add key="RTC5.0ComponentManifestAppStoreCouponServiceCD" value="RTC5.0_Component_Manifest_AppStore_CouponService_CD"/>
   <add key="RTC5.0ComponentManifestAppStoreCustomerServiceCD" value="RTC5.0_Component_Manifest_AppStore_CustomerService_CD"/>
    <add key="RTC5.0ComponentManifestAppStoreDeliveryServiceCD" value="RTC5.0_Component_Manifest_AppStore_DeliveryService_CD"/>
    <add key="RTC5.0ComponentManifestAppStoreDeviceIdenSerCD" value="RTC5.0_Component_Manifest_AppStore_Device_Iden_Ser_CD"/>
    <add key="RTC5.0ComponentManifestAppStoreFavouriteServiceCD" value="RTC5.0_Component_Manifest_AppStore_FavouriteService_CD"/>
    <add key="RTC5.0ComponentManifestAppStoreLocationServiceCD" value="RTC5.0_Component_Manifest_AppStore_LocationService_CD"/>
    <add key="RTC5.0ComponentManifestAppStoreLoyaltyServiceCD" value="RTC5.0_Component_Manifest_AppStore_LoyaltyService_CD"/>
    <add key="RTC5.0ComponentManifestAppStoreNotificationSerCD" value="RTC5.0_Component_Manifest_AppStore_NotificationSer_CD"/>
    <add key="RTC5.0ComponentManifestAppStoreOrd.Bus.SerCD" value="RTC5.0_Component_Manifest_AppStore_Ord.Bus.Ser_CD"/>
    <add key="RTC5.0ComponentManifestAppStoreOrderServiceCD" value="RTC5.0_Component_Manifest_AppStore_OrderService_CD"/>
    <add key="RTC5.0ComponentManifestAppStorePaymentServiceCD" value="RTC5.0_Component_Manifest_AppStore_PaymentService_CD"/>
    <add key="RTC5.0ComponentManifestAppStoreShoppingCartSerCD" value="RTC5.0_Component_Manifest_AppStore_ShoppingCartSer_CD"/>
    <add key="RTC5.0ComponentManifestAppStoreStoreHouseServiceCD" value="RTC5.0_Component_Manifest_AppStore_StoreHouseService_CD"/>
    <add key="RTC5.0ComponentManifestGroceryBasketBuildingCD" value="RTC5.0_Component_Manifest_Grocery_BasketBuilding_CD"/>
    <add key="RTC5.0ComponentManifestUIAssetsCD" value="RTC5.0_Component_Manifest_UIAssets_CD"/>
    <add key="RTC5.0ComponentManifestGroceryOrderCheckoutCD" value="RTC5.0_Component_Manifest_Grocery_OrderCheckout_CD"/>
    <add key="RTC5.0ComponentManifestGroceryHomeCD" value="RTC5.0_Component_Manifest_Grocery_Home_CD"/>
    <add key="RTC5.0ComponentManifestGroceryGroceryHostCD" value="RTC5.0_Component_Manifest_Grocery_GroceryHost_CD"/>
    <add key="RTC5.0ComponentManifestGroceryFindProductsCD" value="RTC5.0_Component_Manifest_Grocery_FindProducts_CD"/>
    <add key="RTC5.0ComponentManifestGroceryDeliveryCD" value="RTC5.0_Component_Manifest_Grocery_Delivery_CD"/>
    <add key="RTC5.0ComponentManifestGroceryCustomerProfileCD" value="RTC5.0_Component_Manifest_Grocery_CustomerProfile_CD"/>-->
    
   
     </TescoAppstore>

  <InternationalInstore>

    <!--<add key="CommonCoreCI" value="Common_Core_CI"/>
     <add key="E2EServiceCI" value="E2EService_CI"/>
    <add key="EpsonLabelPrinterCI" value="EpsonLabelPrinter_CI"/>
    <add key="Instore.DatabasesCI" value="Instore.Databases_CI"/>
    <add key="LabelServiceCI" value="LabelService_CI"/>
    <add key="Log4NetDatabaseAppenderCI" value="Log4Net.Database.Appender_CI"/>-->
   
   <add key="ManualAuditCI" value="ManualAudit_CI"/>
    <add key="NightlyBuild" value="Nightly_Build"/>
    <add key="PCS.ConfigurationCI" value="PCS.Configuration_CI"/>
    <add key="PCS.Core.CreateCI" value="PCS.Core.Create_CI"/>
    <add key="PCS.Core.DataAccessCI" value="PCS.Core.DataAccess_CI"/>
    <add key="PCS.Core.EventManagerCI" value="PCS.Core.EventManager_CI"/>
    
   
    <add key="PCS.CoreCI" value="PCS.Core_CI"/>
    <add key="PCS.CoreDataAccessCI" value="PCS.CoreDataAccess_CI"/>
    <add key="PCS.OrderBrokerCI" value="PCS.OrderBroker_CI"/>
    <add key="PCS.PickAllTripsUtilityCI" value="PCS.PickAllTripsUtility_CI"/>
    <add key="PCS.PSFileWatcherCI" value="PCS.PSFileWatcher_CI"/>
    <add key="PCS.SchedulerCI" value="PCS.Scheduler_CI"/>
    
    <add key="PCS.SoftwareUpdaterCI" value="PCS.SoftwareUpdater_CI"/>
    <add key="PCS.TestingUtility" value="PCS.TestingUtility"/>
    <add key="PCS.UserManagementCI" value="PCS.UserManagement_CI"/>
    <add key="PCSAdapterCI" value="PCSAdapter_CI"/>
    <add key="PCSAdminCI" value="PCSAdmin_CI"/>
    <add key="PrintingServiceCI" value="PrintingService_CI"/>
    <add key="SequencerCI" value="Sequencer_CI"/>
    
  </InternationalInstore>
  <InternationalOMS>

    <add key="MainOMSResources" value="Main_OMS_Resources"/>
    <!-- <add key="MainOMSPlatformConfigFull" value="Main_OMS_PlatformConfig_Full"/>
    <add key="MainOMSCountryConfig" value="Main_OMS_CountryConfig"/>
    <add key="MainOMSCountryConfig_Full" value="Main_OMS_CountryConfig_Full"/>
    <add key="MainOMS_DeliverOrder" value="Main_OMS_DeliverOrder"/>
    <add key="MainOMSPlatformConfig" value="Main_OMS_PlatformConfig"/>
    <add key="MainOMS_Util" value="Main_OMS_Util"/>
    <add key="MainOMSPaymentProcessing" value="Main_OMS_PaymentProcessing"/>
    <add key="MainOMSCancelOrder" value="Main_OMS_CancelOrder"/>-->
    
    
    
   <!-- <add key="MainOMSCheckoutOrder" value="Main_OMS_CheckoutOrder"/>
    <add key="MainOMSCOM_CI" value="Main_OMS_COM_CI"/>
    <add key="MainOMSConsole" value="Main_OMS_Console"/>
    <add key="MainOMSCountryConfig" value="Main_OMS_CountryConfig"/>
    <add key="MainOMSCountryConfig_Full" value="Main_OMS_CountryConfig_Full"/>
    <add key="MainOMS_CountryX_MCCI" value="Main_OMS_CountryX_MC_CI"/>
    <add key="MainOMS_CreateOrder" value="Main_OMS_CreateOrder"/>
    <add key="MainOMS_CustomerAmendOrder" value="Main_OMS_CustomerAmendOrder"/>
    <add key="MainOMS_DeliverOrder" value="Main_OMS_DeliverOrder"/>
    <add key="MainOMSDOM_CI" value="Main_OMS_DOM_CI"/>
    <add key="MainOMSEntity" value="Main_OMS_Entity"/>
    <add key="MainOMSLanguagePack" value="Main_OMS_LanguagePack"/>
    <add key="MainOMSPaymentProcessing" value="Main_OMS_PaymentProcessing"/>
    <add key="MainOMSPickingOrder" value="Main_OMS_PickingOrder"/>
    <add key="MainOMSPlatformMCCI" value="Main_OMS_Platform_MC_CI"/>
    <add key="MainOMSPlatformConfig" value="Main_OMS_PlatformConfig"/>
    <add key="MainOMSResources" value="Main_OMS_Resources"/>
    <add key="MainOMS_Util" value="Main_OMS_Util"/>-->
  </InternationalOMS>

  <OrderFulfilment>

   <!-- <add key="Release1.0OMSPlatformConfigFull" value="Release1.0_OMS_PlatformConfig_Full"/>
   <add key="MainOMSCountryConfig" value="Main_OMS_CountryConfig"/>
    <add key="MainOMSCountryConfig_Full" value="Main_OMS_CountryConfig_Full"/>
    <add key="MainOMS_DeliverOrder" value="Main_OMS_DeliverOrder"/>
    <add key="MainOMSPlatformConfig" value="Main_OMS_PlatformConfig"/>
    <add key="MainOMS_Util" value="Main_OMS_Util"/>
    <add key="MainOMSPaymentProcessing" value="Main_OMS_PaymentProcessing"/>
    <add key="MainOMSCancelOrder" value="Main_OMS_CancelOrder"/>
    <add key="MainOMSCheckoutOrder" value="Main_OMS_CheckoutOrder"/>
    <add key="MainOMSCOM_CI" value="Main_OMS_COM_CI"/>
    <add key="MainOMSConsole" value="Main_OMS_Console"/>
    <add key="MainOMSCountryConfig" value="Main_OMS_CountryConfig"/>
    <add key="MainOMSCountryConfig_Full" value="Main_OMS_CountryConfig_Full"/>
    <add key="MainOMS_CountryX_MCCI" value="Main_OMS_CountryX_MC_CI"/>
    <add key="MainOMS_CreateOrder" value="Main_OMS_CreateOrder"/>
    <add key="MainOMS_CustomerAmendOrder" value="Main_OMS_CustomerAmendOrder"/>
    <add key="MainOMS_DeliverOrder" value="Main_OMS_DeliverOrder"/>
    <add key="MainOMSDOM_CI" value="Main_OMS_DOM_CI"/>
    <add key="MainOMSEntity" value="Main_OMS_Entity"/>
    <add key="MainOMSLanguagePack" value="Main_OMS_LanguagePack"/>
    <add key="MainOMSPaymentProcessing" value="Main_OMS_PaymentProcessing"/>
    <add key="MainOMSPickingOrder" value="Main_OMS_PickingOrder"/>
    <add key="MainOMSPlatformMCCI" value="Main_OMS_Platform_MC_CI"/>
    <add key="MainOMSPlatformConfig" value="Main_OMS_PlatformConfig"/>
    <add key="MainOMSResources" value="Main_OMS_Resources"/>
    <add key="MainOMS_Util" value="Main_OMS_Util"/>-->
  </OrderFulfilment>

  <!--<IntenationIntegration>
    
    
  </IntenationIntegration>-->
  <IntenationalDeployment>
   
    <add key="ManifestGeneration_Tibco_Hawk" value=" R10.0_ManifestGeneration_Tibco_Hawk"/>
    
  </IntenationalDeployment>

  <EnterprisePayments>
  <add key="EnterpriseCryptographyPlatform" value="Enterprise.Cryptography.Platform"/>
  <!--<add key="EnterpriseCryptographyTokenisation" value="Enterprise.Cryptography.Tokenisation"/>
    <add key="EnterpriseEncryptionModule" value="Enterprise.Encryption.Module"/>
    <add key="EnterprisePaymentServiceArcotWCFWrapper" value="Enterprise.Payment.Service.ArcotWCFWrapper"/>
    <add key="EnterprisePaymentServiceContracts" value="Enterprise.Payment.Service.Contracts"/>
    <add key="EnterprisePaymentServiceHost" value="Enterprise.Payment.Service.Host"/>
    <add key="EnterprisePaymentServiceLibrary" value="Enterprise.Payment.Service.Library"/>
    <add key="EnterprisePaymentServiceSafeFileGeneration" value="Enterprise.Payment.Service.SafeFileGeneration"/>
    <add key="EnterprisePayment.ServiceSafeFileXCOM" value="Enterprise.Payment.Service.SafeFileXCOM"/>-->
  </EnterprisePayments>

  <GroceryTotallingCheckout>
    <add key="AppStoreCheckoutContracts" value="AppStore.Checkout.Contracts"/>
    <!--<add key="AppStoreCheckoutLibrary" value="AppStore.Checkout.Library"/>
    <add key="AppStoreCheckoutWcfClient" value="AppStore.Checkout.WcfClient"/>
    <add key="AppStoreCheckoutWcfHost" value="AppStore.Checkout.WcfHost"/>
    <add key="AppStoreTotallingContracts" value="AppStore.Totalling.Contracts"/>
    <add key="AppStoreTotallingLibrary" value="AppStore.Totalling.Library"/>
    <add key="AppStoreTotallingWcfHost" value="AppStore.Totalling.WcfHost"/>
    <add key="AppStoreQueueProcessorContracts" value="AppStore.QueueProcessor.Contracts"/>
    <add key="AppStoreQueueProcessorLibrary" value="AppStore.QueueProcessor.Library"/>
    <add key="AppStoreQueueProcessorWindowsService" value="AppStore.QueueProcessor.WindowsService"/>-->
  </GroceryTotallingCheckout>
  <InternationalAdministration>
    <!-- <add key="AppStoreAuthenticationContracts" value="AppStore.Authentication.Contracts"/>-->
   <add key="AppStoreAuthenticationWcfClient" value="AppStore.Authentication.WcfClient"/>
    <add key="TescoComWebBackOffice" value="Tesco.Com.Web.BackOffice"/>
    <add key="TescoCom.WebCZBackOfficeUIAssets" value="Tesco.Com.Web.CZ.BackOffice.UIAssets"/>
    <add key="TescoCom.WebPLBackOfficeUIAssets" value="Tesco.Com.Web.PL.BackOffice.UIAssets"/>
    <add key="TescoCom.WebSKBackOfficeUIAssets" value="Tesco.Com.Web.SK.BackOffice.UIAssets"/>
    <add key="TescoCom.WebHUBackOfficeUIAssets" value="Tesco.Com.Web.HU.BackOffice.UIAssets"/>
    <add key="TescoCom.WeTRBackOfficeUIAssets" value="Tesco.Com.Web.TR.BackOffice.UIAssets"/>
    <add key="TescoCom.WebMYBackOfficeUIAssets" value="Tesco.Com.Web.MY.BackOffice.UIAssets"/>
    <add key="TescoCom.WebTHBackOfficeUIAssets" value="Tesco.Com.Web.TH.BackOffice.UIAssets"/>
    <add key="TescoCom.WebCNBackOfficeUIAssets" value="Tesco.Com.Web.CN.BackOffice.UIAssets"/>
    <add key="TescoComWebCommonBackOfficeUIAssets" value="Tesco.Com.Web.Common.BackOfficeUIAssets"/>
    
  </InternationalAdministration>
  </configuration>