<?xml version="1.0"?>
<configuration>
    <startup>        
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>     
    </startup>
  <Templates>
    <Template name="AppStore">
      <artifacts region="UK" filename="ReleaseManifest_IGHS_UK_AppStore_Template.xml"/>
      <artifacts region="CZ" filename="ReleaseManifest_IGHS_CZ_AppStore_Template.xml"/>
      <artifacts region="PL" filename="ReleaseManifest_IGHS_PL_AppStore_Template.xml"/>
      <artifacts region="SK" filename="ReleaseManifest_IGHS_SK_AppStore_Template.xml"/>
      <artifacts region="CN" filename="ReleaseManifest_IGHS_CN_AppStore_Template.xml"/>
    </Template>

    <Template name="MyAccount">
         <artifacts region="UK" filename="ComponentManifest_IGHS_Grocery_UK_MyAccount_Template.xml"/>
    </Template>
    <!--Appstore>-->
    <Template name="CouponService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_AppStore_UK_Coupon_Template.xml"/>
    </Template>
    <Template name="NotificationService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_AppStore_UK_Notification_Template.xml"/>
    </Template>
    <Template name="LocationService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_AppStore_UK_Location_Template.xml"/>
    </Template>
    <Template name="CustomerService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_AppStore_UK_Customer_Template.xml"/>
    </Template>
    <Template name="PaymentService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_AppStore_UK_Payment_Template.xml"/>
    </Template>
    <Template name="OrderService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_AppStore_UK_Order_Template.xml"/>
    </Template>
    <Template name="DeliveryService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_AppStore_UK_Delivery_Template.xml"/>
    </Template>
    <Template name="OrderBusinessService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_AppStore_UK_OrderBusiness_Template.xml"/>
    </Template>
    <Template name="ShoppingCartService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_AppStore_UK_ShoppingCart_Template.xml"/>
    </Template>
     <Template name="AuthenticationService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_AppStore_UK_Authentication_Template.xml"/>
    </Template>
    <Template name="FavouriteService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_AppStore_UK_Favourite_Template.xml"/>
    </Template>
    <Template name="LoyaltyService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_AppStore_UK_Loyalty_Template.xml"/>
    </Template>
    <Template name="DeviceIdentificationService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_AppStore_UK_DeviceIdentification_Template.xml"/>
    </Template>
    <Template name="StoreHouseService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_AppStore_UK_StoreHouse_Template.xml"/>
    </Template>
    <Template name="ContentService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_AppStore_UK_Content_Template.xml"/>
    </Template>
    <Template name="EntprseAuthenticationService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_AppStore_UK_EntprseAuthentication_Template.xml"/>
    </Template>
       

    <!--<Grocry>-->
    <Template name="BasketBuilding">
       <artifacts region="UK" filename="ComponentManifest_IGHS_Grocery_UK_BasketBuilding_Template.xml"/>
    </Template>

    <Template name="FindProducts">
        <artifacts region="UK" filename="ComponentManifest_IGHS_Grocery_UK_FindProducts_Template.xml"/>
    </Template>

    <Template name="CustomerProfile">
      <artifacts region="UK" filename="ComponentManifest_IGHS_Grocery_UK_CustomerProfile_Template.xml"/>
    </Template>

    <Template name="Delivery">
      <artifacts region="UK" filename="ComponentManifest_IGHS_Grocery_UK_Delivery_Template.xml"/>
    </Template>

    <Template name="OrderCheckout">
      <artifacts region="UK" filename="ComponentManifest_IGHS_Grocery_UK_OrderCheckout_Template.xml"/>
    </Template>

    <Template name="GroceryHost">
      <artifacts region="UK" filename="ComponentManifest_IGHS_Grocery_UK_GroceryHost_Template.xml"/>
    </Template>

    <Template name="Home">
      <artifacts region="UK" filename="ComponentManifest_IGHS_Grocery_UK_Home_Template.xml"/>
    </Template>

    <Template name="UIAssets">
      <artifacts region="UK" filename="ComponentManifest_IGHS_UK_UIAssets_Template.xml"/>
    </Template>

    <!--<Grocry>-->

    <!--<BIReporting>-->
    <Template name="WindowsService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_BIReporting_UK_WindowsService_Template.xml"/>
    </Template>
    <Template name="ConsoleApp">
      <artifacts region="UK" filename="ComponentManifest_IGHS_BIReporting_UK_ConsoleApp_Template.xml"/>
    </Template>
    <Template name="ReportingWebSite">
      <artifacts region="UK" filename="ComponentManifest_IGHS_BIReporting_UK_ReportingWebSite_Template.xml"/>
    </Template>
    <Template name="ReportingManagementService">
      <artifacts region="UK" filename="ComponentManifest_IGHS_BIReporting_UK_ReportingManagementService_Template.xml"/>
    </Template>
    
    <!--<BIReporting>-->
    <Template name="MobileDispatcher">      
      <artifacts region="UK" filename="ComponentManifest_IGHS_Grocery_UK_MobileDispatcher_Template.xml"/>
    </Template>

    <Template name="ProductIntegration">
          <artifacts region="UK" filename="ComponentManifest_IGHS_UK_ProductIntegration_Template.xml"/>
    </Template>
    <Template name="BackOffice">
      <artifacts region="UK" filename="ComponentManifest_IGHS_BackOffice_UK_Template.xml"/>
    </Template>
    <Template name="Login">
      <artifacts region="UK" filename="ComponentManifest_IGHS_Login_UK_Template.xml"/>
    </Template>

    <Template name="LoginUIAssets">
      <artifacts region="UK" filename="ComponentManifest_IGHS_LoginUIAssets_UK_Template.xml"/>
    </Template>
    
    <Template name="Tibco">
      <artifacts region="UK" filename="ReleaseManifest_IGHS_UK_Tibco_Template.xml"/>
      <artifacts region="CZ" filename="ReleaseManifest_IGHS_CZ_Tibco_Template.xml"/>
      <artifacts region="PL" filename="ReleaseManifest_IGHS_PL_Tibco_Template.xml"/>
      <artifacts region="CE" filename="ReleaseManifest_IGHS_CE_Tibco_Template.xml"/>
      <artifacts region="SK" filename="ReleaseManifest_IGHS_SK_Tibco_Template.xml"/>
      <artifacts region="TH" filename="ReleaseManifest_IGHS_SK_Tibco_Template.xml"/>
      <artifacts region="MY" filename="ReleaseManifest_IGHS_SK_Tibco_Template.xml"/>
      <artifacts region="APUK" filename="ReleaseManifest_IGHS_SK_Tibco_Template.xml"/>
      <artifacts region="Hawk" filename="ReleaseManifest_IGHS_Hawk_Tibco_Template.xml"/>
      <artifacts region="ErrorHandling_AP" filename="ReleaseManifest_IGHS_ErrorHandling_AP_Tibco_Template.xml"/>
      <artifacts region="ErrorHandling_CE" filename="ReleaseManifest_IGHS_ErrorHandling_CE_Tibco_Template.xml"/>
      <artifacts region="ErrorHandling_CH" filename="ReleaseManifest_IGHS_ErrorHandling_CH_Tibco_Template.xml"/>
    </Template>
    <Template name="Instore">
      <artifacts region="CZ" filename="ReleaseManifest_IGHS_CZ_Instore_Template.xml"/>
      <artifacts region="PL" filename="ReleaseManifest_IGHS_PL_Instore_Template.xml"/>
      <artifacts region="SK" filename="ReleaseManifest_IGHS_SK_Instore_Template.xml"/>
      <artifacts region="TH" filename="ReleaseManifest_IGHS_TH_Instore_Template.xml"/>
      <artifacts region="MY" filename="ReleaseManifest_IGHS_MY_Instore_Template.xml"/>
      <artifacts region="HU" filename="ReleaseManifest_IGHS_HU_Instore_Template.xml"/>
      <artifacts region="CN" filename="ReleaseManifest_IGHS_CN_Instore_Template.xml"/>
      <artifacts region="CH" filename="ReleaseManifest_IGHS_CH_Instore_Template.xml"/>
      <artifacts region="CS" filename="ReleaseManifest_IGHS_CS_Instore_Template.xml"/>
      <artifacts region="TR" filename="ReleaseManifest_IGHS_TR_Instore_Template.xml"/>
    </Template>
    <Template name="OMS">
      <artifacts region="UK" filename="ReleaseManifest_IGHS_UK_OMS_Template.xml">
        <rules>
          <componentref>
            <component destination="OMS_DB_DEPLOY" source="OMS_DOM_CI" />
          </componentref>          
        </rules>        
      </artifacts>
    </Template>
  </Templates>
  <Manifest templatename="ComponentManifest"/>

  <appSettings>
    <add key="TescoComCore" value="Tesco.Com.Core"/>
    <add key="AppStoreCommonLibrary" value="AppStore.Common.Library"/>
    <add key="AppStoreRegionLibrary" value="AppStore.Region.Library"/>
    <add key="TescoComWebMvc" value="Tesco.Com.Web.Mvc"/>
    <add key="TescoComWebCommon" value="Tesco.Com.Web.Common"/>
    <add key="AppStoreContentContracts" value="AppStore.Content.Contracts"/>
    <add key="AppStoreContentLibrary" value="AppStore.Content.Library"/>
    <add key="AppStoreCustomerWcfClient" value="AppStore.Customer.WcfClient"/>
    <add key="AppStoreCustomerContracts" value="AppStore.Customer.Contracts"/>
    <add key="AppStoreNotificationContracts" value="AppStore.Notification.Contracts"/>
    <add key="AppStoreNotificationWcfClient" value="AppStore.Notification.WcfClient"/>
    <add key="AppStoreDeviceIdentificationContracts" value="AppStore.DeviceIdentification.Contracts"/>
    <add key="AppStoreDeviceIdentificationWcfClient" value="AppStore.DeviceIdentification.WcfClient"/>
    <add key="TescoComWebYUI" value="Tesco.Com.Web.YUI"/>
    <add key="AppStoreStoreHouseContracts" value="AppStore.StoreHouse.Contracts"/>
    <add key="AppStoreStoreHouseWcfClient" value="AppStore.StoreHouse.WcfClient"/>
    <add key="TescoComWebAPIClientTescoLocationAPIClient" value="Tesco.Com.WebAPIClient.TescoLocationAPIClient"/>
    <add key="TescoComWebAPIClientWebAPIClientBase" value="Tesco.Com.WebAPIClient.WebAPIClientBase"/>
    <add key="AppStoreDeliveryWcfClient" value="AppStore.Delivery.WcfClient"/>
    <add key="AppStoreDeliveryContracts" value="AppStore.Delivery.Contracts"/>
    <add key="TescoComAppStoreStoreAdpater" value="Tesco.Com.AppStore.StoreAdpater"/>
    <add key="AppStorePriceContracts" value="AppStore.Price.Contracts"/>
    <add key="AppStorePriceWcfClient" value="AppStore.Price.WcfClient"/>
    <add key="AppStoreProductContracts" value="AppStore.Product.Contracts"/>
    <add key="AppStoreProductWcfClient" value="AppStore.Product.WcfClient"/>
    <add key="AppStoreGroceryProductWcfClient" value="AppStore.GroceryProduct.WcfClient"/>
    <add key="AppStoreGroceryProductContracts" value="AppStore.GroceryProduct.Contracts"/>
   <add key="AppStoreAuthenticationContracts" value="AppStore.Authentication.Contracts"/>
    <add key="AppStoreAuthenticationWcfClient" value="AppStore.Authentication.WcfClient"/>
    <add key="AppStoreContentWcfClient" value="AppStore.Content.WcfClient"/>
    <add key="AppStoreContentWcfHost" value="AppStore.Content.WcfHost"/>
  </appSettings>
  
</configuration>
