<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--FinalManifest Dont delete-->
		<!--<add key ="TemplateRootPath" value="E:\Template"/>
		<add key="AppStore_PartialManifestPaths" value="\\uktee01-clusdb\BuildOutput\IGHS_Manifest\ManifestAutomation,\\uktee01-clusdb\BuildOutput\IGHS_Manifest\ComponentDelivery"/>
		<add key="FinalReleaseManifest" value="E:\FinalReleaseManifest\"/>
		<add key="ComponentManifest" value="D:\ComponentManifest\"/>
		<add key="ReferencePath" value="E:\Reference\TextReference.xml"/>-->

		<!--Component Manifest Generation-->
		<!--<add key ="TemplateRootPath" value="\Templates\"/>-->
    <add key="CurrentReleaseVersion" value="R9.0,R10.0,R10.5,R11.0,R12.0,R13.0,R14.0"/>
    <add key="PartialManifestPaths" value="\\UKTEE01-CLUSDB\IGHSBuildOutput\IGHS_Manifest\ComponentDelivery\,\\UKTEE01-CLUSDB\IGHSBuildOutput\IGHS_Manifest\ManifestAutomation\" />
    <add key="ComponentManifest" value="\\UKTEE01-CLUSDB\IGHSBuildOutput\IGHS_Manifest\ComponentDelivery\"/>
    <add key ="MasterManifest" value="\\UKTEE01-CLUSDB\IGHSBuildOutput\IGHS_Manifest\ComponentDelivery\"/>
    <add key ="Tibco_Regions" value ="UK,CE,CZ,PL,SK,HU,TR,APUK,AP,TH,MY,CH,CS"/>
		<!--Hwak,ErrorHandling_AP,ErrorHandling_CE,ErrorHandling_CH-->
		<!--//Tot_QP_Chk tab settings-->
		<add key="Tot_QP_Chk" value="Totalling,QueueProcessor,Checkout"/>
		<add key="Totalling" value="CE,AP,CH"/>
		<add key="QueueProcessor" value="CE,AP,CH"/>
		<add key="Checkout" value="CE,AP,CH"/>

		<!--//Other tab settings-->
		<add key="Other_Components" value="Login,UIAssets,ProductIntegration,IntegrationBrandBank,BackOffice,CouponIntegration,Endeca,OrderReprocessor,ReverseProxy,BuyListIntegration,DigitalContentProvider,ProductListProvider,Database,LocationProvider"/>
		
		<!--//Tot_QP_Chk templates-->
		<add key="Totalling_CE" value="ReleaseManifest_IGHS_CE_Totalling_Template.xml"/>
		<add key="Totalling_AP" value="ReleaseManifest_IGHS_AP_Totalling_Template.xml"/>
		<add key="Totalling_CH" value="ReleaseManifest_IGHS_CH_Totalling_Template.xml"/>
		<add key="QueueProcessor_CE" value="ReleaseManifest_IGHS_CE_QueueProcessor_Template.xml"/>
		<add key="QueueProcessor_AP" value="ReleaseManifest_IGHS_AP_QueueProcessor_Template.xml"/>
		<add key="QueueProcessor_CH" value="ReleaseManifest_IGHS_CH_QueueProcessor_Template.xml"/>
		<add key="Checkout_CE" value="ReleaseManifest_IGHS_CE_Checkout_Template.xml"/>
		<add key="Checkout_AP" value="ReleaseManifest_IGHS_AP_Checkout_Template.xml"/>
		<add key="Checkout_CH" value="ReleaseManifest_IGHS_CH_Checkout_Template.xml"/>
		<!--<add key="Checkout_HU" value="ReleaseManifest_IGHS_HU_Checkout_Template.xml"/>
    <add key="Checkout_TR" value="ReleaseManifest_IGHS_TR_Checkout_Template.xml"/>
		<add key="Checkout_TH" value="ReleaseManifest_IGHS_TH_Checkout_Template.xml"/>
		<add key="Checkout_MY" value="ReleaseManifest_IGHS_MY_Checkout_Template.xml"/>
		<add key="Checkout_CS" value="ReleaseManifest_IGHS_CS_Checkout_Template.xml"/>-->
		
		<!--//Other Templates-->
		<add key="Login_UK" value="ReleaseManifest_IGHS_UK_Login_Template.xml"/>
		<add key="ProductIntegration_UK" value="ReleaseManifest_IGHS_UK_ProductIntegration_Template.xml"/>
		<add key="UIAssets_UK" value="ReleaseManifest_IGHS_UK_UIAssets_Template.xml"/>
		<add key="IntegrationBrandbank_UK" value="ReleaseManifest_IGHS_UK_IntegrationBrandBank_Template.xml"/>
    <add key="BackOffice_UK" value="ReleaseManifest_IGHS_UK_BackOffice_Template.xml"/>
    <add key="CouponIntegration_UK" value="ReleaseManifest_IGHS_UK_CouponIntegration_Template.xml"/>
    <add key="Endeca_UK" value="ReleaseManifest_IGHS_UK_Endeca_Template.xml"/>
    <add key="OrderReprocessor_UK" value="ReleaseManifest_IGHS_UK_OrderReprocessor_Template.xml"/>
    <add key="ReverseProxy_UK" value="ReleaseManifest_IGHS_UK_ReverseProxy_Template.xml"/>
    <add key="BuyListIntegration_UK" value="ReleaseManifest_IGHS_UK_BuyListIntegration_Template.xml"/>
    <add key="DigitalContentProvider_UK" value="ReleaseManifest_IGHS_UK_DigitalContentProvider_Template.xml"/>
    <add key="ProductListProvider_UK" value="ReleaseManifest_IGHS_UK_ProductListProvider_Template.xml"/>
    <add key="Database_UK" value="ReleaseManifest_IGHS_UK_Database_Template.xml"/>
    <add key="LocationProvider_UK" value="ReleaseManifest_IGHS_UK_LocationProvider_Template.xml"/>

		<!--//Grocery Templates-->
		<add key="Grocery_UK" value="ReleaseManifest_IGHS_UK_Grocery_Template.xml"/>

		<!--//AppStore Templates-->
		<add key="AppStore_UK" value="ReleaseManifest_IGHS_UK_AppStore_Template.xml"/>
		

    <!--//BIReporting Templates-->
		<add key="BIReporting_UK" value="ReleaseManifest_IGHS_UK_BIReporting_Template.xml"/>

		<!--//Tibco Templates-->
		<add key="Tibco_UK" value="ReleaseManifest_IGHS_UK_Tibco_Template.xml"/>
		<add key="Tibco_CZ" value="ReleaseManifest_IGHS_CZ_Tibco_Template.xml"/>
		<add key="Tibco_PL" value="ReleaseManifest_IGHS_PL_Tibco_Template.xml"/>
		<add key="Tibco_CE" value="ReleaseManifest_IGHS_CE_Tibco_Template.xml"/>
		<add key="Tibco_SK" value="ReleaseManifest_IGHS_SK_Tibco_Template.xml"/>
		<add key="Tibco_TH" value="ReleaseManifest_IGHS_TH_Tibco_Template.xml"/>
		<add key="Tibco_MY" value="ReleaseManifest_IGHS_MY_Tibco_Template.xml"/>
		<add key="Tibco_APUK" value="ReleaseManifest_IGHS_APUK_Tibco_Template.xml"/>
		<add key="Tibco_AP" value="ReleaseManifest_IGHS_AP_Tibco_Template.xml"/>
		<add key="Tibco_HU" value="ReleaseManifest_IGHS_HU_Tibco_Template.xml"/>
		<add key="Tibco_TR" value="ReleaseManifest_IGHS_TR_Tibco_Template.xml"/>
		<add key="Tibco_CH" value="ReleaseManifest_IGHS_CH_Tibco_Template.xml"/>
		<add key="Tibco_CS" value="ReleaseManifest_IGHS_CS_Tibco_Template.xml"/>
		<add key="Tibco_Hawk" value="ReleaseManifest_IGHS_Hawk_Tibco_Template.xml"/>
		<add key="Tibco_ErrorHandling_AP" value="ReleaseManifest_IGHS_ErrorHandling_AP_Tibco_Template.xml"/>
		<add key="Tibco_ErrorHandling_CE" value="ReleaseManifest_IGHS_ErrorHandling_CE_Tibco_Template.xml"/>
		<add key="Tibco_ErrorHandling_CH" value="ReleaseManifest_IGHS_ErrorHandling_CH_Tibco_Template.xml"/>

		<!--Instore Templates-->
		<add key="Instore_CZ" value="ReleaseManifest_IGHS_CZ_Instore_Template.xml"/>
		<add key="Instore_PL" value="ReleaseManifest_IGHS_PL_Instore_Template.xml"/>
		<add key="Instore_SK" value="ReleaseManifest_IGHS_SK_Instore_Template.xml"/>
		<add key="Instore_TH" value="ReleaseManifest_IGHS_TH_Instore_Template.xml"/>
		<add key="Instore_MY" value="ReleaseManifest_IGHS_MY_Instore_Template.xml"/>
		<add key="Instore_HU" value="ReleaseManifest_IGHS_HU_Instore_Template.xml"/>
		<add key="Instore_CN" value="ReleaseManifest_IGHS_CN_Instore_Template.xml"/>
		<add key="Instore_CH" value="ReleaseManifest_IGHS_CH_Instore_Template.xml"/>
		<add key="Instore_CS" value="ReleaseManifest_IGHS_CS_Instore_Template.xml"/>

		<!--OMS Templates-->
		<add key="OMS_UK" value="ReleaseManifest_IGHS_UK_OMS_Template.xml" />
	</appSettings>
	<system.web>	
		<identity impersonate="true" />
	</system.web>
</configuration>
