<?xml version="1.0"?>
<configuration>
    <startup>        
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>     
    </startup>
  <Templates>
    <Template name="AppStore">
      <artifacts region="UK" filename="ReleaseManifest_IGHS_UK_AppStore_Template.xml"/>
      <artifacts region="CZ" filename="ReleaseManifest_IGHS_CZ_AppStore_Template.xml"/>      
    </Template>
    <Template name="MyAccount">
      <artifacts region="UK" filename="ComponentManifest_IGHS_Grocery_UK_MyAccount_Template.xml"/>
    </Template>
    <Template name="MobileDispatcher">      
      <artifacts region="UK" filename="ComponentManifest_IGHS_Grocery_UK_MobileDispatcher_Template.xml"/>
    </Template>

    <Template name="ProductIntegration">
          <artifacts region="UK" filename="ComponentManifest_IGHS_UK_ProductIntegration_Template.xml"/>
    </Template>
    <Template name="BackOffice">
      <artifacts region="UK" filename="ComponentManifest_IGHS_BackOffice_UK_Template.xml"/>
    </Template>
    <Template name="Login">
      <artifacts region="UK" filename="ComponentManifest_IGHS_Login_UK_Template.xml"/>
    </Template>
    <Template name="LoginUIAssets">
      <artifacts region="UK" filename="ComponentManifest_IGHS_LoginUIAssets_UK_Template.xml"/>
    </Template>
    
    <Template name="Tibco">
      <artifacts region="UK" filename="ReleaseManifest_IGHS_UK_Tibco_Template.xml"/>
      <artifacts region="CZ" filename="ReleaseManifest_IGHS_CZ_Tibco_Template.xml"/>
      <artifacts region="PL" filename="ReleaseManifest_IGHS_PL_Tibco_Template.xml"/>
      <artifacts region="CE" filename="ReleaseManifest_IGHS_CE_Tibco_Template.xml"/>
      <artifacts region="SK" filename="ReleaseManifest_IGHS_SK_Tibco_Template.xml"/>
      <artifacts region="APUK" filename="ReleaseManifest_IGHS_APUK_Tibco_Template.xml"/>
      <artifacts region="AP" filename="ReleaseManifest_IGHS_AP_Tibco_Template.xml"/>
      <artifacts region="TH" filename="ReleaseManifest_IGHS_TH_Tibco_Template.xml"/>
      <artifacts region="MY" filename="ReleaseManifest_IGHS_MY_Tibco_Template.xml"/>
	  <artifacts region="HU" filename="ReleaseManifest_IGHS_HU_Tibco_Template.xml"/>
    </Template>
    <Template name="Instore">
      <artifacts region="CZ" filename="ReleaseManifest_IGHS_CZ_Instore_Template.xml"/>
      <artifacts region="PL" filename="ReleaseManifest_IGHS_PL_Instore_Template.xml"/>
      <artifacts region="SK" filename="ReleaseManifest_IGHS_SK_Instore_Template.xml"/>
      <artifacts region="TH" filename="ReleaseManifest_IGHS_TH_Instore_Template.xml"/>
      <artifacts region="MY" filename="ReleaseManifest_IGHS_MY_Instore_Template.xml"/>
      <artifacts region="HU" filename="ReleaseManifest_IGHS_HU_Instore_Template.xml"/>
      <artifacts region="CN" filename="ReleaseManifest_IGHS_CN_Instore_Template.xml"/>
      <artifacts region="CH" filename="ReleaseManifest_IGHS_CH_Instore_Template.xml"/>
      <artifacts region="CS" filename="ReleaseManifest_IGHS_CS_Instore_Template.xml"/>
      <artifacts region="TR" filename="ReleaseManifest_IGHS_TR_Instore_Template.xml"/>
    </Template>
    <Template name="OMS">
      <artifacts region="UK" filename="ReleaseManifest_IGHS_UK_OMS_Template.xml"/>
    </Template>
  </Templates>
  <Manifest templatename="ComponentManifest"/>
</configuration>
