<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 
    <appSettings>
      <!--<add key="AppStoreCommonLibrary" value="AppStore.Common.Library"/>
      <add key="Tesco.Com.Core" value="Tesco.Com.Core"/>
      <add key="TescoComWebMvc" value="Tesco.Com.Web.Mvc"/>
      <add key="TescoComWebCommon" value="Tesco.Com.Web.Common"/>
      <add key="AppStoreContentContracts" value="AppStore.Content.Contracts"/>
      <add key="AppStoreNotificationContracts" value="AppStore.Notification.Contracts"/>
      <add key="AppStoreNotificationWcfClient" value="AppStore.Notification.WcfClient"/>
      <add key="AppStoreDeviceIdentificationContracts" value="AppStore.DeviceIdentification.Contracts"/>
      <add key="AAppStoreDeviceIdentificationWcfClient" value="AppStore.DeviceIdentification.WcfClient"/>-->

      <add key="AppStoreCommonLibrary" value="AppStore.Common.Library"/>
      <add key="TescoComCore" value="Tesco.Com.Core"/>
      <add key="TescoComWebMvc" value="Tesco.Com.Web.Mvc"/>
      <add key="TescoComWebCommon" value="Tesco.Com.Web.Common"/>
      <add key="AppStoreContentContracts" value="AppStore.Content.Contracts"/>
      <add key="AppStoreContentLibrary" value="AppStore.Content.Library"/>
      <add key="AppStoreCustomerContracts" value="AppStore.Customer.Contracts"/>
      <add key="AppStoreDeliveryContracts" value="AppStore.Delivery.Contracts"/>
      <add key="AppStoreStoreHouseContracts" value="AppStore.StoreHouse.Contracts"/>
      <add key="TescoLocationAPIClient" value="TescoLocationAPIClient"/>
      <add key="WebAPIClient" value="WebAPIClient"/>
      <add key="AppStoreRegionLibrary" value="AppStore.Region.Library"/>

    </appSettings>
    
  
  </configuration>

  