<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="SMTPServer" value="172.25.58.118" />
  <add key="FromAddress" value="IGHS_Team_Jaguars@in.tesco.com" />
  <add key="ToAddress" value="HSC_Cell46_Notification_Deployments@uk.tesco.com" />
  <add key="MailSubject" value="IGHS CD Scheduled Deployment for DEV | BOA" />
  <add key="Body" value="Team,  &lt;br&gt;  &lt;br&gt; Deployment Status: Started  &lt;br&gt;&lt;br&gt;" />
  <add key="ManifestFile" value="\\UKTEE01-CLUSDB\IGHSBuildOutput\IGHS_Manifest\ManifestAutomation\BOARootRMFile\rootRMFile_BOA_2015-04-17-11-54-21.xml" />
  <add key="Login" value="1" />
  <add key="LoginPattern" value="ComponentManifest_IGHS_Login_UK_13.0.0." />
  <add key="LoginNolioPattern" value="" />
  <add key="LoginUIAssets" value="1" />
  <add key="LoginUIAssetsPattern" value="ComponentManifest_IGHS_LoginUIAssets_UK_13.0.0." />
  <add key="LoginUIAssetsNolioPattern" value="" />
  <add key="BackOffice" value="1" />
  <add key="BackOfficePattern" value="ComponentManifest_IGHS_BackOffice_UK_2.0.0." />
  <add key="BackOfficeNolioPattern" value="" />
  <add key="ComponentPath" value="\\UKTEE01-CLUSDB\IGHSBuildOutput\IGHS_Manifest\ManifestAutomation" />
  <add key="JenkinsURL" value="http://uktee01orcap01v:4040/job/IGHS_Schedule_BOA_Start/buildWithParameters?token=IGHS" />
 </appSettings>
</configuration>